body { 
  background-image: url('https://drive.google.com/uc?export=view&id=14tsYDNSw9WQ81uSYUmZ3TOIhqhr54t6a');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  justify-content: center;
}

h1 {
  color: #f0ebed;
  font-family:  Century Gothic, sans-serif ; font-size: 35px;
  line-height: 80px; font-weight: normal; margin-bottom: 0px;
  margin-top: 1px;
  text-align: center; 
  text-shadow: 0 1px 1px #fff;}

textarea {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  color: #f0ebed;
  width: 80vw;
  height: 70vh;
  padding:1px;
  background-color:#232b2b;
}

nav {
  max-width: 900px;
  /* The mask-image gives us some extra fading. It is not necessary but without this, you can't face out the box-shadows. This clips our menu */
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  /* Using padding instead of margin for the top and bottom here will keep our box-shadow visible and not affected by the mask-image */
  padding: 15px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  font-family: "Roboto";
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
  font-size: 25px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}